mirs/src/mirs_system/mirs_system/ai/vision/estimator/models/yolov7/yolo-custom.pt
build/
build
log/
logs
install/
install
virtual/
mirs/src/mirs_system/mirs_system/ai/vision/camera/recordings/
*.avi
*.mp4