mirs/src/mirs_system/mirs_system/ai/vision/estimator/models/yolov7/yolo-custom.pt
mirs/build/
mirs/build
mirs/log/
mirs/log
mirs/install/
mirs/install
virtual/
mirs/src/mirs_system/mirs_system/ai/vision/camera/recordings/
*.avi
*.mp4